<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.src.android" android:versionCode="1" android:versionName="1.0">
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />

	<uses-sdk android:minSdkVersion="15"
	android:targetSdkVersion="23" />
	
	<application android:icon="@drawable/ico" android:label="@string/app_name" android:allowBackup="true" android:theme="@style/AppTheme">
	
	 <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
	<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_maps_key" />
		<activity android:name="telas.Authentication" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="telas.Main"></activity>
		<activity android:name="telas.AedesPointsCadastrarActivity"></activity>
		<activity android:name="telas.AedesPointsAlterarActivity"></activity>
		<activity android:name="telas.AedesPointsListarActivity"></activity>
		<activity android:name="telas.CasoCadastrarActivity"></activity>
		<activity android:name="telas.CasoAlterarActivity"></activity>
		<activity android:name="telas.CasoListarActivity"></activity>
		<activity android:name="gps.Maps"></activity>
		<activity android:name="gps.GpsMapsPointers"></activity>
		<activity android:name="camera.CameraActivity" android:screenOrientation="landscape"></activity>
	</application>
</manifest>